/**
* @file
* This file gives general display rules for the Dokeos info blocks 
*/

/**
* Courses list blocks
*/
.dokeos-course-title {
  margin-bottom: -0.5em;
  padding-bottom: -0.5em;
}
.dokeos-course-info {
  color: #777777;
  display: block;
  margin-left: 1em;
  margin-top: -0.5em;
}

/**
* Agenda (Event list) blocks
*/
.dokeos-event-title {
  margin-bottom: -0.5em;
  padding-bottom: -0.5em;
}
.dokeos-event-info {
  color: #777777;
  display: block;
  margin-left: 1em;
  margin-top: -0.5em;
}